include LICENSE README.md CHANGELOG.md config.example.yaml .env.example requirements*.txt requirements*.in requirements*.lock
recursive-include src *.py
recursive-include tools *.py *.md
recursive-include tests *.py
recursive-include assets *.png *.ico
recursive-include docs *.md *.html
recursive-include packaging *.py *.spec *.ps1 *.iss *.md
recursive-include .github *.yml *.md
global-exclude *.pyc
